body {
  background-image: url("background.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: black;
  color: white;
  font-family: 'Neue Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  padding: 6px 25px 15px;
}
