* {
	letter-spacing: 0.5px;
	image-rendering: pixelated;
}

body {
  background-image: url("background.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: black;
  color: white;
  font-family: 'Neue Helvetica', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  padding: 10px 0px 25px 0px;
}

<!-- links stuff -->

a {
    color: white;
    text-decoration: none;
    animation: dehover-anim 0.15s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  }
  @keyframes dehover-anim {
      0%   { text-shadow: 0px 0.75px 5px rgba(255,255,255, 0.75); }
      100%   { text-shadow: 0px -2px 5px rgba(255,255,255, 0); }
    }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover, a:active, a:focus {
    color: white;
    text-decoration: none;
    animation: hover-anim 0.04s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  }
  @keyframes hover-anim {
      0%   { text-shadow: 0px -2px 5px rgba(255,255,255, 0); }
      100%   { text-shadow: 0px 0.75px 5px rgba(255,255,255, 0.75); }
    }

<!-- BOXES -->
    .trapezoid {
      border-top: 100px solid red;
      border-right: 50px solid transparent;
      height: 0;
      width: 100px;
      float: left;
    }
    .box {
      width: 300px;
      /* height: 150px; */
      position: relative;
      padding: 0px;
    }
    .box:before {
      content: "";
      position: absolute;
      /* border: 3px solid darkcyan; */
      border-radius: 10px;
      box-shadow:0 0 90px 2px rgba(175, 182, 191, 0.24);

      top: -90%; bottom: -90%; left: 12%; right: 12%;
      z-index: -1;

      -webkit-transform: perspective(50em) rotateX(-40deg);
      -moz-transform: perspective(50em) rotateX(-40deg);
      transform: perspective(50em) rotateX(-40deg);
    }

/* WINDOWS */
    /* background-filter usually unsupported lol */
    .windowframe {
      left: 0;
      background: repeating-linear-gradient(45deg, rgba(25,40,55,0.35) 35%, rgba(65,85,100,0.35) 42%, rgba(65,85,100,0.35) 40%, rgba(25,40,55,0.35) 50%, rgba(25,40,55,0.35) 55%, rgba(70,85,100,0.35) 60%, rgba(70,85,100,0.35) 75%, rgba(25,40,55,0.35) 90%);
      background-attachment: fixed; background-clip: padding-box;
      border-radius: 10px;
      box-shadow: inset 0 0 1.65px 1px rgba(246,246,247,0.14), inset 0 0 4px 2.25px rgba(0,0,0,0.02), 0 3px 9px rgba(0,0,0,0.26), inset 0 1.5px 6.35px rgba(246,246,247,0.16);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      -moz-backdrop-filter: blur(16px);
      border: 1.5px solid rgba(2,3,4,0.26);
      width: 640px;
      overflow: hidden;
      transform: translateX(0) translateY(0);
      z-index: 0;
    }
    .windowframe:target {
      box-shadow: inset 0 1px 0.35px 2px rgba(255,255,255,0.22),
      box-shadow: inset 0 3px 0.35px 2px rgba(0,0,0,0.22);
      0 6px 20px rgba(0,0,0,0.35);
      z-index: 1;
    }
    .title {
      color: white; float: left;
      margin-left: 9px;
      margin-top: 8px;
    }

    /* TEXTBOX */
    .textbox {
      left: 6px; right: 6px; top: 28px; bottom: 6px;
      background: rgba(255,255,255,1);
      border-radius: 4px;
      box-shadow: inset 0 0 0.85px 1px rgba(0,0,0,0.12);
      color: black;
      overflow: scroll;
      position: absolute;
      z-index: 1;
    }

    .zoomanimlite:hover, .zoomanimlite:active, .zoomanimlite:focus {
      transform: scale(1.05); /* (105% zoom) */
      -ms-transform: scale(1.05); /* IE 9 */
      -webkit-transform: scale(1.05); /* Safari 3-8 */
      -moz-transform: scale(1.05); /* Firefox */
    }
    .zoomanimlite {
      transition: transform .2s; /* Animation */
    }

    .zoomanim:hover, .zoomanim:active, .zoomanim:focus {
      transform: scale(1.18); /* (118% zoom) */
      -ms-transform: scale(1.18); /* IE 9 */
      -webkit-transform: scale(1.18); /* Safari 3-8 */
      -moz-transform: scale(1.18); /* Firefox */
    }
    .zoomanim {
      transition: transform .55s; /* Animation */
    }

<!-- collapsibles stuff -->
<!-- https://www.digitalocean.com/community/tutorials/css-collapsible thanks -->

.wrap-collapsible {
  margin-bottom: 20px 0;
}

input[type='checkbox'] {
  display: none;
}

.input {
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  padding: 6px;

  color: #000000;
  background: #ffffff;

  cursor: pointer;
    
  border-radius: 12px;
  transition: all 0.25s ease-out;
}

.funnytoggle {
    nothing, actually
    wait this will do nothing, Actually. nevermind. just ignore this i think, probably!!!!!
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  padding: 0px;
  color: #000000;
  background: #ffffff;

  cursor: pointer;
    
  border-radius: 12px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #003dff;
}

.lbl-toggle::beforeg {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .1s ease-out;
}

.toggle:checked + .lbl-toggle::clicked + .collapsible-content {
  transform: rotate(90deg) translateX(-3px);
  max-height: 100vh;
}

.collapsible-content {
  max-height: 56px;
  overflow: hidden;
  transition: max-height .1s ease-in-out;
  border-radius: 12px;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.collapsible-content .content-inner {
  background: rgba(255, 255, 255, 0.25);
  border-bottom: 0px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-radius: 12px;
  padding: 2px 16px 10px;
}




